[Desktop Entry]
Name=Lottery
GenericName=Lottery
Comment=Application to determine a winner
Categories=Utility;Network;System;
Exec=com.github.bartzaalberg.lottery
Icon=com.github.bartzaalberg.lottery
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=lottery
Keywords=guess;lottery;
